<div>
    <h2 id="page-heading">
        <span jhiTranslate="studentsIntenshipPlatformAvraApp.company.home.title">Companies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="studentsIntenshipPlatformAvraApp.company.home.createLabel">
            Create a new Company
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
        <span jhiTranslate="studentsIntenshipPlatformAvraApp.company.home.notFound">No companies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="companies && companies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="domainOfActivity"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.domainOfActivity">Domain Of Activity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="technologies"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.technologies">Technologies</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contact"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.contact">Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observations"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.observations">Observations</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="presentation"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.presentation">Presentation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="studentsIntenshipPlatformAvraApp.company.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies ;trackBy: trackId">
                    <td><a [routerLink]="['/company', company.id, 'view']">{{ company.id }}</a></td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.description }}</td>
                    <td>{{ company.domainOfActivity }}</td>
                    <td>{{ company.technologies }}</td>
                    <td>{{ company.contact }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.observations }}</td>
                    <td>
                        <a *ngIf="company.presentation" (click)="openFile(company.presentationContentType, company.presentation)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="company.presentation">{{ company.presentationContentType }}, {{ byteSize(company.presentation) }}</span>
                    </td>
                    <td>
                        {{ company.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(company)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="companies && companies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
