/* ==========================================================================
Main page styles
========================================================================== */
.addBtn {
  width: 200px !important;
}
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
  margin: 32px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}
mat-card-title {
  max-height: 40px;
}

mat-card-content {
  height: 230px;
  max-height: 230px;
  overflow-y: hidden;
}

.mainLogo {
  display: inline-block;
  margin-top: 70px;
  width: 400px;
  height: 497px;
  background: url('../../content/images/job.PNG') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}
